<div class="black">
  <div class="container valign-wrapper">
    <div class= "sliding-background">
      <div class="row center">
        <div class="col s12 exoFont">
          <h4 class="flow-text white-text upcoming header">All Upcoming Events!</h4>
          {{#each index}}
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://lorempixel.com/250/350/nature"> <!--when we get types into SQL set photos via unsplash to match type of event-->
              </div>
              <div class="card-stacked">
                <h5 class="card-title header">{{this.shower_name}} </h5>
                <p><strong>Start Date</strong>: {{this.begin_date}}</p>
                <p><strong>End Date</strong>: {{this.end_date}}</p>
                <p><strong>Max Date</strong>: {{this.max_date}}</p>
                <p><strong>Max Rate per Hour</strong>: {{this.max_rate_per_hour}}</p>
                <a href="/"> Detailed Info</a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>