
<!--add hamburger menu for scrollspy here-->
<div id="parallax index-banner" class="home parallax-container">
   
  <ul id="slide-out" class="black sidenav white-text exoFont flow-text">
    <li>
      <div class="user-view">
        <div class="background"></div>
      <div class="nav-item active">
        <a class="nav-link sidenav-close" href="/">Home <span class="sr-only">(current)</span></a>
      </div>
        {{#if loggedIn}}
        <div class= "nav-item">
          <a href="/user" class="sidenav-close nav-link white-text exoFont flow-text">Your Profile</a>
        </div>
        <br>
        <a href="/logout" class="sidenav-close nav-link white-text exoFont flow-text">Log Out</a>
        {{else}}
        <a href="/login" class="sidenav-close nav-link white-text exoFont flow-text">Log In</a>
        {{/if}}
      </div>
    </li>    
    <li>
      <div class="divider white-text exoFont flow-text"></div>
    </li>

    <li><a href="#top" class="sidenav-close"><i class="material-icons white-text exoFont">Home</a></i></li>
    <li><a href="#events" class="sidenav-close"><i class="subheader white-text exoFont flow-text">Events</a></i></li>
    <li><a href="#about" class="sidenav-close"><i class="subheader white-text exoFont flow-text">About</a></i></li>
    <li><a href="#globe" class="sidenav-close"><i class="subheader white-text exoFont flow-text">Globe</a></i></li>
    <li><a href="#footer" class="sidenav-close"><i class="subheader white-text exoFont flow-text">Team</a></i></li>
  </ul>
  <a href="#" data-target="slide-out" class="sticky sidenav-trigger" style= "z-index: 100;"><i class="fa fa-bars fa-4x burger-menu material-icons white-text exoFont flow-text"></i></a>

  <div class="section section1 no-pad-bot">
    <div class="container">  
      <h1 class="center white-text">Star Scout</h1>
        <div class="row center">
          <h5 class="col s12 light flow-text exoFont">Discover your next trip by chasing the stars</h5>
        </div>
        <div class="row center">
          <a href="/calendar" id="download-button" class="btn-large waves-effect waves-light blue lighten-1 flow-text exoFont">Full Calendar</a>
        </div>
      <br><br>

        <div class="carousel">
          <a class="carousel-item carouselPic" href= "https://www.wolframalpha.com/examples/science-and-technology/space-and-astronomy/astronomical-events/eclipses/">
            <div class="carousel-content white-text flow-text exoFont">
              <h5>Eclipses</h5>
            </div>
            <div class= "responsive-img">
              <img src="/images/eclipse.jpg" >
            </div>
          </a>
          
          <a class="carousel-item carouselPic" href = "https://www.wolframalpha.com/examples/science-and-technology/space-and-astronomy/astronomical-events/sunrise-and-sunset/">
            <div class="carousel-content white-text flow-text exoFont">
              <h5>Sunrise/Sunsets</h5>
            </div>
            <div class= "responsive-img">
              <img src="/images/sunset.jpg">
            </div>
          </a>
            
          <a class="carousel-item carouselPic" href= 'https://www.wolframalpha.com/examples/science-and-technology/space-and-astronomy/astronomical-events/lunar-phases/'>
            <div class="carousel-content white-text flow-text exoFont">
              <h5>Lunar Phases</h5>
            </div>
            <div class= "responsive-img">
              <img src="/images/FullMoon.jpg">
            </div>
          </a>
            
          <a class="carousel-item carouselPic" href= "https://www.wolframalpha.com/examples/science-and-technology/space-and-astronomy/astronomical-events/meteor-showers/">
            <div class="carousel-content white-text flow-text exoFont">
              <h5>Meteor Showers</h5>
            </div>
            <div class= "responsive-img">
              <img src="/images/meteorshower.jpg">
            </div>
          </a>
        </div>    
    </div>
  </div>
</div>

  <div id= "events" class="black valign-wrapper section scrollspy">
    <div class="section no-pad-bot"></div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="section">
          <div class="row center">
            <div class="col s12 exoFont flow-text ">
              <h4 class="upcoming header">Upcoming Events!</h4>
              {{#each index}}
                <div class="card eventsCard horizontal">
                  <div class="card-image">
                    <img src="/images/icon{{@index}}.jpeg" width="250px" height="300px"> 
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h5 class="card-title header">{{this.shower_name}} </h5>
                      <p><strong>Start Date</strong>: {{this.begin_date}}</p>
                      <p><strong>End Date</strong>: {{this.end_date}}</p>
                      <p><strong>Max Date</strong>: {{this.max_date}}</p>
                      <p><strong>Max Rate per Hour</strong>: {{this.max_rate_per_hour}}</p>
                    </div>
                    <div class="card-action">
                      <a href="/results/{{this.id}}"> Detailed Info</a>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/images/background2.jpg"></div>
    </div>
  </div>

  <div id= "about" class="section black section scrollspy">
    <div class="white-text row container">
      <div class="col s12 center flow-text exoFont">
        <h4>About</h4>
        <p class="left-align ">Star Scout is a site created for the purpose of discovering upcoming astrological events, where the least light pollution is, and the best local camping areas for viewing. You can view our general calendar of events or select specific events from the home page carousel. You won't forget your plans because once you've chosen a campsite you can save the event to your google calendar!</p>
      </div>
    </div>
  </div>

  <div id= "globe" class="parallax-container valign-wrapper scrollspy">
    <div class="no-pad-bot container section">
      <div id="cesiumContainer" class="fullSize"></div>
      <div id="toolbar"></div>
      <div class="parallax"><img src="/images/background3.jpg"></div>
    </div>
  </div>

  <footer id= "footer" class="page-footer blue darken-4 section scrollspy">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text flow-text exoFont header">Our Mission</h5>
          <p class="grey-text text-lighten-4 flow-text exoFont">We are a team of UT bootcamp students working on this project like it's our full time job. We hope to showcase our incredible creative and collaborative skills with our coding mastery.</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text flow-text exoFont header">Team Members</h5>
            <ul>
              <li><a class="white-text flow-text exoFont" href="#!">Marie Matisans</a></li>
              <li><a class="white-text flow-text exoFont" href="#!">Sharon Story Smith</a></li>
              <li><a class="white-text flow-text exoFont" href="#!">Santiago Tolosa-Zegarra</a></li>
              <li><a class="white-text flow-text exoFont" href="#!">Tommy Vinyard</a></li>
            </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text flow-text exoFont header">Github Repos</h5>
            <ul>
              <li><a class="white-text flow-text exoFont" href="https://github.com/mbolters?tab=repositories">Link 1</a></li>
              <li><a class="white-text flow-text exoFont" href="https://github.com/sstorysmith?tab=repositories">Link 2</a></li>
              <li><a class="white-text flow-text exoFont" href="https://github.com/SantiagoTZ8899?tab=repositories">Link 3</a></li>
              <li><a class="white-text flow-text exoFont" href="https://github.com/tpvinyard?tab=repositories">Link 4</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container flow-text exoFont">
      Made by <a class="white-text" href="https://github.com/SantiagoTZ8899/Project2">The Galaxy Squad</a>
      </div>
    </div>
  </footer>

  <script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI1Y2MwNTQxNC0zZGFjLTRiY2UtOGU0Yy0wNGJjZmFlNWRmNGMiLCJpZCI6MTgzNjgsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NzM3MDU3NDZ9.V8omh_JjiRHBtHixS03SPgH9i-KsmNo346USJzezqKc';
    var viewer = new Cesium.Viewer('cesiumContainer', {
        imageryProvider : Cesium.createWorldImagery({
            style : Cesium.IonWorldImageryStyle.AERIAL_WITH_LABELS
        }),
        baseLayerPicker : false
    });

    var layers = viewer.scene.imageryLayers;
    var blackMarble = layers.addImageryProvider(new Cesium.IonImageryProvider({ assetId: 3812 }));

    blackMarble.alpha = 0.5; // 0.0 is transparent.  1.0 is opaque.

    blackMarble.brightness = 2.0; // > 1.0 increases brightness.  < 1.0 decreases.

    layers.addImageryProvider(new Cesium.SingleTileImageryProvider({
        url : '../images/Cesium_Logo_overlay.png',
        rectangle : Cesium.Rectangle.fromDegrees(-75.0, 28.0, -67.0, 29.75)
    }));

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);



  </script>
