<div id="index-banner"class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">  
      
      <div class="dropdown">
        <i class="dropdown-trigger fa fa-bars fa-4x burger-menu" data-target='dropdown'></i>  
        <ul class="dropdown-content" id="dropdown">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link" href="/user">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          {{/if}}
        </ul>
      </div>

      <div id="home">
        <div class="container float-text exoFont">
          <div class="section">
            <div class="row">
              <div id="map-canvas"></div>
              <div class="col s12 center exoFont card eventsCard horizontal">
                <div class = "card-stacked">
                
                  <h1>{{msg}}</h1>
                  <h3 class="card-title">Examples:</h3>
                    <ul id="example-list" class="list-group">
                      {{#each examples}}
                      <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                      </li>
                      {{/each}}

                    <p>
                      Current location <span id="latitude"></span>&deg;,
                      <span id="longitude"></span>&deg;.
                    </p>
                    <p>
                      It is <span id="summary"></span> with
                      a temperature of <span id="temp"></span>&deg; F.
                    </p>
                    <p>
                      It will be <span id="forecast"></span>.
                    </p>
                    <p>
                      The Sun will rise at <span id="sunrise"></span> minutes.
                    </p>
                    <p>
                      The Sun will set at <span id="sunset"></span> minutes.
                    </p>
                    <p>
                      The current Moon phase is <span id="moonphase"></span>.
                    </p>
                      <button id="geolocate">Check here</button>
                  </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/resultsbkgrd.jpg" alt="Unsplashed background img 1"></div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>